.mainContainer {
  display: flex;
}
.repairRequestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
}

.form {
  display: flex;
  justify-content: center;
  border: 1px solid #d6d6d6;
  border-radius: 20px;
  width: 80%;
  overflow-y: auto;
  max-height: 90vh;
}
.form::-webkit-scrollbar {
  width: 13px;
}

.form::-webkit-scrollbar-thumb {
  background-color: #d6d6d6;
  border-radius: 12px;
}

.sale {
  display: flex;
  flex-direction: column;
}

.sale input {
  width: 18rem;
}

.dataContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 5px;
  grid-auto-rows: minmax(20px, auto);
}

.dataContainer input {
  height: 25px;
  width: 10rem;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
}
.request {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(50px, auto);
}

.request input {
  width: 200px;
}
