.tableContainer {
  border: 1px solid #D6D6D6;
  border-radius: 20px;
  overflow-y: scroll;
  height: 80vh;

  table {
    border-collapse: collapse;
    text-overflow: ellipsis;

    td {
      overflow: hidden;
    }
  }
}

.cancelado {
  color: #808080;
  background: #dfdfdf;
}

.pendiente {
  color: #FF8042;
  background: #fedfcf;
}

.progreso {
  color: #FFBB28;
  background: #ffedc9;
}

.resuelto {
  color: #00C49F;
  background: #b0fff0;
}

.notificado {
  color: #AC6CFF;
  background: #eadaff;
}

.estadoButton {
  border: none;
  cursor: default;
  border-radius: 20px;
  text-align: center;
  padding: 10px 20px;
}

.menuAcciones {
  text-align: center;

  .buttonDetails {
    color: white;
    font-size: 20px;
    background: #0157ae;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    transition: ease-in-out 0.25s;

    &:hover {
      background: #0580fd;
      transition: ease-in-out 0.25s;
    }
  }
}



