.mainContainer {
    display: flex;
}

.repairRequestContainer {
    width: 85vw;
    padding: 50px;
    box-sizing: border-box;
}

.mainDataContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
}

.userDataInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 25px;
    padding-top: 25px;
}